
.intro-container{
  display: inline-block;
  text-align: left;
  margin: 0px auto;
}

h1{
  margin: 10px 0;
  font-size: 4em;
}

h4{
  font-size: 0.8em;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 5px;
}