
header {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #1f1f20;
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding-right: 20px;
}

.img-profile {
  height: 30px;
  border-radius: 50px;
}