
header {
  display: flex;
  justify-content: right;
  position: fixed;
  align-items: center;
  background-color: #1f1f20;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.img-profile {
  height: 40px;
  border-radius: 50px;
  margin-right: 20px;
}