iframe{
  border: none;
  height: 500px;
  width: 100%;
}

.xelda-game-component{
  margin-top: 30px;
}

p{
  font-size: 0.8em;
  text-align: justify;
}

h2{
  margin: 5px;
  text-align: center;
  width: 100%
}

h3, h5, p{
  margin: 10px;
}

.centered-paragraph{
  text-align: center;
}

