html{
  text-align: center;
}

body{
  display: inline-block;
  background-color: #2a2a2e;
  color: #ededed;
  font-family: Verdana, sans-serif;
  width: 100%;
  margin: 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%
}