html{
  text-align: center;
}

body{
  display: inline-block;
  background-color: #141414;
  color: #ededed;
  font-family: Verdana, sans-serif;
  max-width: 1000px;
}

#root{
  text-align: center;
  margin-top: 20px;
}